<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | MegaPirateNG</title>
        <link rel="stylesheet" type="text/css" href="https://megapirateng.github.io/Docs/style.css">
    </head>

    <body>
        <div class="header">
            <div class="page-margin">
                <a href="https://megapirateng.github.io/Docs/">
                    MegaPirateNG
                    <small>Documentation</small>
                </a>
            </div>

        </div>

        <div class="menu">
            <div class="page-margin">
                <ul>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/f4by/F4BY">F4BY</a></li>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/compile">Getting firmware</a></li>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/general_configuration">General configuration</a></li>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/connecting_components">Connecting your components</a></li>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/troubleshooting">Troubleshooting</a></li>
                    <li><a href="https://megapirateng.github.io/Docs/documentation/tipsntricks">Tips and tricks</a></li>
                </ul>
            </div>
        </div>

        <div class="content page-margin">
            <div class="edit">
                <a href="https://github.com/MegaPirateNG/Docs/edit/gh-pages{{page.url | replace:'.html','.md'}}">Edit page</a>
            </div>
            {{ content }}
        </div>
    </body>

</html>
