<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | MegaPirateNG</title>
        <link rel="stylesheet" type="text/css" href="/Docs/style.css">
    </head>

    <body>
        <div class="header">
            <div class="page-margin">
                <a href="/Docs/">
                    MegaPirateNG
                    <small>Documentation</small>
                </a>
            </div>

        </div>

        <div class="menu">
            <div class="page-margin">
                <ul>
                    <li><a href="/Docs/documentation/compile">Compile and flash firmware</a></li>
                    <li><a href="/Docs/documentation/general_configuration">General configuration</a></li>
                    <li><a href="/Docs/documentation/connecting_components">Connecting your components</a></li>
                    <li><a href="/Docs/documentation/troubleshooting">Troubleshooting</a></li>
                </ul>
            </div>
        </div>

        <div class="content page-margin">
            {{ content }}
        </div>
    </body>

</html>
