<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | MegaPirateNG</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <div class="header">
            <div class="page-margin">
                <a href="/">
                    MegaPirateNG
                    <small>Documentation</small>
                </a>
            </div>

        </div>

        <div class="menu">
            <div class="page-margin">
                <ul>
                    <li><a href="/documentation/f4by/connecting_components">Connecting your components</a></li>
                    <li><a href="/documentation/f4by/compile">Compile and flash firmware</a></li>
                    <li><a href="/documentation/f4by/troubleshooting">Troubleshooting</a></li>
                </ul>
            </div>
        </div>

        <div class="content page-margin">
            <div class="edit">
                <a href="https://github.com/MegaPirateNG/Docs/edit/gh-pages{{page.url | replace:'.html','.md'}}">Edit page</a>
            </div>
            {{ content }}
        </div>
    </body>

</html>
